doctype=html
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")

head
  title Basic Blog
  div(class="jumbotron")
    h1(style="margin-left: 8%; margin-top: 2%") Articles
    p(style='margin-left: 8%') Liste des articles
  div(style='margin-left: 10%')
    form(action='/post/create', method='POST')
      button(class='btn btn-primary', type='submit') Ajouter

  body
    #table-wrapper
    table(class="table", style='width:80%', border='1', align='center')
      tr
       th Titre
       th Date
       th Auteur
       th Resumé
       th Contenu
      each val in articles
        tr
          td 
            a(href="post/" + val._id) #{val['titre']}
          td #{val['date']}
          td #{val['auteur']}
          td #{val['résumé']}
          td #{val['contenu']}