doctype=html
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")

head
  title Consulter
  div(class="jumbotron")
    each val in articles
      h1(style="margin-left: 8%; margin-top: 2%") Titre : #{val['titre']}


  body
    each val in articles
      div(style='width:80%; margin-left: 10%')
        b Auteur : #{val['auteur']}
        p
        b Résumé : #{val['résumé']}
        p
        b Contenu :
        p #{val['contenu']}

        div
        form(action='/post/supprimer', method='POST')
          input(type="hidden", value=val._id, name='id')
          p
            button(class='btn btn-primary', type='submit') Supprimer
            a(href="/") 
              button(type='button' class='btn btn-primary') Retour